#gallery-block .sqs-gallery-block-grid .sqs-gallery-design-grid {
    margin-right: -10px;
}
#gallery-block .sqs-gallery-block-grid .sqs-gallery-design-grid-slide .margin-wrapper {
    margin-right: 10px;
    margin-bottom: 10px;
}

@media screen and (min-width: 640px) {
    .Mobile {
        visibility: hidden;
        clear: both;
    }
}
.parallax1 {
    background-image: url(/images/full/5.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax2 {
    background-image: url(/images/full/2.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}