#gallery-block .sqs-gallery-block-grid .sqs-gallery-design-grid {
    margin-right: -10px;
}
#gallery-block .sqs-gallery-block-grid .sqs-gallery-design-grid-slide .margin-wrapper {
    margin-right: 10px;
    margin-bottom: 10px;
}

@media screen and (min-width: 640px) {
    .Mobile {
        visibility: hidden;
        clear: both;
    }
}

.tweak-index-page-fullscreen-first-page-only .Index-page--has-image:first-child {
    min-height: calc(100vh - 100px) !important;
}

@media screen and (max-width: 640px){
    .tweak-index-page-fullscreen-first-page-only .Index-page--has-image:first-child {
        min-height: calc(100vh - 60px) !important;
    }
}

.Header-nav-item {
    text-decoration: underline;
    text-shadow: rgb(0, 0, 0) 0px 0px 10px;
    font-weight: 800;
    font-family: lato;
}

.parallax1 {
    background-image: url(/images/full/5.jpg);
}
.parallax2 {
    background-image: url(/images/full/2.jpg);
}

@supports (-webkit-touch-callout: none) {
    /* CSS specific to iOS devices */
    .parallax-bg {
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

@supports not (-webkit-touch-callout: none) {
    /* CSS for other than iOS devices */
    .parallax-bg {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        overflow:hidden;
        position: -webkit-sticky; /* Safari */
        position: sticky;
    }
}